/* white theme : #d9d3c9 */

/* default override */
* {
    box-sizing: border-box;
}
::-moz-selection {
    background: #e8b817;
    color: #3b2c1a;
    text-shadow: none;
}
::selection {
    background: #e8b817;
    color: #3b2c1a;
    text-shadow: none;
}
body {
    margin: 0;
    padding: 0;
}

/* big background */
.container-fluid {
  height: 100vh;
  background-image:  linear-gradient(rgba(4, 35, 44, 0.7), rgba(54, 33, 5, 0.8)), url('white-sands-o.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

/* error container */
.err-container {
  background-image: linear-gradient(rgba(13, 126, 117, 0.3), rgba(103, 60, 15, 0.2)), url('white-sands-more-blur-o.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  filter: blur(15px);
  margin-top: 120px;
  border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0px 25px 25px 8px rgba(38, 19, 8, 0.2);
    padding: 67px 0;
    height: 320px;
}
.inner-row.row {
  margin-left: 0px;
  margin-right: 0px;
}
.left-col,
.right-col {
  float: left;
}


/* left side */
.left-col {
  font-family: 'Abel', sans-serif;
  text-align: center;
  color: #2a1907;
  text-shadow: 1px 1px 3px rgba(167, 167, 167, 0.3);
    border-right: 2px solid #2a1907;
    margin-top: 4px;
}
.left-col h1 {
  line-height: 1em;
  font-size: 150px;
    margin-bottom: 0;
    margin-top: -8px;
}
.left-col p {
  margin: 0;
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
  top: -2px;
  margin-bottom: 6px;
}
.sad-face {
    position: relative;
    top: 2px;
}


/* right side */
.right-col {
  font-family: 'Open Sans', sans-serif;
}
#map {
    width: 60px;
    fill: #e8b817;
    display: inline-block;
    position: relative;
/*    top: -18px;*/
}
.lost {
    display: inline-block;
    font-size: 45px;
    color: #2a1907;
    position:   relative;
    left: 10px;
    top: -1px;
    font-family: "Abel", sans-serif;
}
.more-info {
    color: #2a1907;
    font-size: 14px;
    font-weight: 300;
}
.more-info.links {
    margin-bottom: 20px;
}
.btn-light {
    color: #e8b817;
    display: inline-block;
    border: 1px solid #e8b817;
    border-radius: 0;
    margin-right: 15px;
    transition: all 0.1s ease-in-out; 
}
.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    color: #e8b817;
    background-color: #2a1907;
    border: 1px solid #2a1907;
}


/* Animation */
@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}

.zoomInUp {
  animation: zoomInUp 1s linear;
}
.btns {
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.btns button {
  padding: 2px 8px;

}

#layout > header > h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.btns button, .btn {
  padding: 3px 5px;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: background 300ms ease-out;
  transition: background 300ms ease-out;
}

.btns button:hover, .btn:hover {
  background: #fff;
}